langchain-groq
torch
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
faiss-cpu
sentence_transformers
langchain_huggingface
langchain_chroma 
pandas
duckdb
streamlit
langchain_ollama
faiss-cpu
plotly
ipykernel
tabulate

langchain-experimental
